@import "reset.css";

/* LAYOUT */
html { height: 100%; }
body { color:#333; background-color:#fff; font-family:Cambria; min-height: 100%; position: relative; }
div.pagewidth { 
    min-height: 100%;
}

.oo { float:left;margin:0 2% 5px 0;width:98%; }
.oh { float:left;margin:0 2% 5px 0;width:48%; }
.ot { float:left;margin:0 2% 5px 0;width:31.33%; }
.tt { float:left;margin:0 2% 5px 0;width:64.66%; }
.of { float:left;margin:0 2% 5px 0;width:23%; }
.tf { float:left;margin:0 2% 5px 0;width:73%; }

div#logo { line-height:24px; height:24px;text-align:left; color:#ccc; background: #333;
           font-weight:bold; font-size:24px; padding:5px 10px; position: relative; z-index: 1;}        

#navtop {
    float:right;
    margin:5px 10px 0 0;
    color: #eee;
    position: relative;
    z-index: 2;
}

#navtop a {
    color: #c8deef;
}

ul.menu { 
    width:170px; list-style:none; font-size:14px;
    padding: 44px 10px 10px 10px;
    min-height: 100%;
    position: absolute;
    left: 0; top: 0px;
    border-right:1px solid #ccc;
    background: #eee;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

    ul.menu li { color:#333; }
        ul.menu li a { text-decoration: none; }
        ul.menu li ul { padding-left: 20px; }

#content { 
    margin-left: 170px;background:#fff; padding:0 10px 10px 10px;
}

.without_menu { background: #eee; }
.without_menu div.pagewidth { width:420px; margin: 100px auto 0; min-height: 0; }
.without_menu #content { width:400px; margin: 0; }
.without_menu #navtop { display: none; }

a { color:#37a;}

.first-column {
    margin-right: 260px;
    padding-left: 0;
    padding-top: 0;
}

.first-column .fieldset-content {
    padding-left: 0;
    padding-top: 0;
    border: none;
}

.second-column {
    width: 250px;
    float: right;
    clear: right;
}
    
/* GENERAL */

.ui-widget { font-size:12px; }
.ui-timepicker-div {}
    .ui-timepicker-div .ui-widget-header {  margin-bottom:8px; }
    .ui-timepicker-div dl { text-align:left; }
    .ui-timepicker-div dl dt { height:25px; }
    .ui-timepicker-div dl dd { margin:-25px 0 10px 65px; }
    .ui-timepicker-div td { font-size:90%; }

h1 { border-bottom:2px solid #ccc; display:block; font-size:17px; font-weight:bold; 
     margin-bottom:10px; padding:5px 0 0px; }    
     
div.info, div.message { background-color:#eee; text-align:center;margin-bottom:10px; padding:5px;
           -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:1px solid #999; }

div.error-message { background-color:#fee; text-align:center;margin-bottom:10px; padding:5px; color: #900;
           -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:1px solid #a99; }
           
table { width:100%; border:1px solid #ccc; border-collapse: separate;
        -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
td,th { padding:3px; vertical-align: middle; }
th { text-align: left; background-color: #eee;
    -moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0; }
td.actions { width:100px; }

input[type=text],input[type=password],textarea,select,input[type=reset],
input[type=button],input[type=submit],button, a.button
    { background:#fff;border:1px solid #aaa; color:#333; }
    
a.button,input[type=button],input[type=reset],input[type=submit],button { padding:2px 3px; display:block;
    -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px; margin-top:10px; 
    text-align:center;text-decoration: none;}

input.editable-select { background:url(images/arrow-down.gif) no-repeat right center #130F1A; }

input[type=text].error, input[type=password].error, textarea.error, select.error  
    { background:#f99;border:1px solid #634949;}
tr.item > td > input.error, tr.item > td > select.error { margin-top: 17px; }
td.array_element_del_td { width: 0; padding: 0 10px; }
    
span.error { font-size:12px; color:#f99; clear:both; display:block; text-align:right; margin-right:0; position:relative; top:0px; }
    
fieldset { margin-bottom:10px; padding:0px;
           -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}

fieldset .fieldset-content { padding: 5px; border:1px solid #ccc; overflow: hidden;}

fieldset.folded > .fieldset-content { display: none; }

fieldset span.legend {
    padding: 0 5px; display: block;
    background-color:#eee; border:1px solid #ccc; border-bottom: none; display:block;
    -moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0; font-weight: bold;
}

fieldset.folded > span.legend {
    -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
    border-bottom: 1px solid #ccc;
}

fieldset.foldable > span.legend > a.fold_button {
    width: 16px;height: 16px;float:right;margin-top: 3px;
    background-position: -64px -16px; background-image: url(images/ui-icons_222222_256x240.png);
}

fieldset.foldable.folded > span.legend > a.fold_button {
    background-position: -96px -16px;
}

.single { margin-top:0 !important; }
.inline { display:inline !important; width:auto !important; }      

input.editable-select { background:url(images/arrow-down.gif) no-repeat scroll right center #130F1A; }
div.editable-select-options { background: #130F1A; border:1px solid #544963;}
div.editable-select-options li.selected { background: #544963;}

blockquote { border: 1px solid #999; padding:10px; margin-left:20px;}
table.list tr:nth-child(2n+1) { background: #fafafa; }

#ui-datepicker-div { display:none; z-index:15 !important; }

/* DIV.form */
div.form { padding:0 5px;}
    div.form label { display:block; }
    div.form input,div.form textarea,div.form select { width:100%; }
    div.form input[type="checkbox"] { width: auto; float:left; clear:both; position:relative; top:3px; margin-right:5px; }
    div.form input[type="submit"],div.form input[type="button"],button { width: auto; }

/* TAGS */
div.tagsinput { border:1px solid #CCC; background: #FFF; padding:5px; width:300px; height:100px; overflow-y: auto;}
div.tagsinput span.tag { border: 1px solid #a5d24a; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 5px; text-decoration:none; background: #cde69c; color: #638421; margin-right: 5px; margin-bottom:5px;font-family: helvetica;  font-size:13px;}
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; text-decoration:none; font-size: 11px;  } 
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}
    
/* PAGE ACTIONS */
span.page_actions { float:right; font-size:14px; }
    span.page_actions ul,
    span.page_actions li { display:inline; }
    span.page_actions a 
        { padding:1px 5px; background:#fff;border:1px solid #aaa; color:#333;line-height:1.5em; 
          font-size:14px;position:relative;top:-1px;text-decoration: none; font-weight: normal;
          -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;margin-left:2px; }
          
    span.page_actions a.current,
    span.page_actions li.current a { background:#aaa; color:#000; border-color:#000;}   
    

/* POST LIST */
table.posts { margin-top:10px; }
    
/* POST EDIT */
.source_preview {
    z-index:10;
    position:relative;
    margin-top:10px;
}

a.source, a.preview {
    float:right;
    font-size:12px;
    margin:0 2px 0 0px;
    display:inline;
    text-decoration: none;
    color:#333;
    background:#ccc;
    border:1px solid #aaa;
    border-bottom:none;
    padding:3px 5px 2px 5px;
    position:relative;
    top:1px;
    -moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;
}

a.preview.active { background:#f0f0ee;  z-index:10; }
a.source.active { background:#fff;  z-index:10; }

.tinymce {
    margin-top:0px;
}

.mceEditor {
    z-index:2;
    position:relative;
}

.mceLayout {
    -moz-border-radius:0;-webkit-border-radius:0;border-radius:0;    
}

div.sizeInputs input { display:inline; width:120px; }

tr.filter button {
    padding:0 3px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;    
}

tr.filter select {
    width: 100%;
}

td.item_order input {
    width:40px;
}

.pagination {
    margin-top:5px;
    clear: both;
}

.pagination ul {
    display:block;
}

.pagination ul li {
    display:block;
    float:left;
    width: auto;
    min-width:25px;
    margin:2px;
    text-align:center;
    background:#fff;
    border:1px solid #aaa; 
    line-height:1.5em; 
    font-size:12px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.pagination ul li.current {
    background:#568;
}

.pagination ul li a {
    color:#333;
    text-decoration: none;
}

.pagination ul li.current a {
    color:#fff;
}

.sort-field {
    text-decoration: none;
    white-space: nowrap;
}
    
.sort-field.ASC:after {
    content: " ▲";
}

.sort-field.DESC:after {
    content: " ▼";
}

.drag-sortable {
    cursor: pointer;
    text-align: center;
}

tr.filter th {
    background:#dde5ee;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
}

tr.filter th input {
    width:100%;
}

div.value {
    background:#f0f0f0;
    border:1px solid #aaa;
    min-height: 18px;
}

fieldset.pictures {
}

fieldset.pictures input {
    width:730px;
}

fieldset.pictures button {
    margin:5px 5px 0;
}

fieldset.pictures .thumb {
    width:100px;
    height:100px;
    background:url(images/image100x100.png) no-repeat 50% 50%;
    float:left;
    border:1px solid #aaa;
    margin-right:10px;
}

/* THEMES */
fieldset.theme {
    width:250px;
    height:250px;
    float:left;
    text-align:center;
    margin-right:20px;
}

fieldset.theme.current span.legend {
    background: #333;
    color:#fff;
}

fieldset.theme button {
    display:inline;
}

/* WIDGETS */
fieldset.widgets {
    overflow: hidden;
    float: left;
    width:214px;
    margin-left:10px;
}

fieldset.widgets > .fieldset-content {
    min-height: 100px;
}

fieldset.widgets.available {
    float: none;
    width: auto;
    margin-left: 0;
    clear:none;
}

fieldset.layout > .fieldset-content {
    border-style:  dotted;
}

fieldset.layout > .fieldset-content > fieldset {
    margin: 5px;
    background: #fff;
}

fieldset.layout > .fieldset-content > fieldset > span.legend {
    background:  #888;
    border-color: #777;
    color: white;
}

fieldset.layout > .fieldset-content > fieldset.snippets > span.legend {
    background: #733;
}

fieldset.layout > .fieldset-content > fieldset > .fieldset-content {
    border-color: #777;
    border-style: dashed;
}

fieldset.widgets .fieldset-content > fieldset {
    width:192px;
    float:left;
    background: #fff;
    margin:5px;
}

fieldset.widgets .description {
    display:none;
}

fieldset.widgets .fieldset-content fieldset.ui-sortable-placeholder {
    background: #ddd;
    visibility: visible !important;
}

fieldset.widgets.available .description {
    display: block;
}

fieldset.widgets.available .ui-draggable-dragging {
    height: auto !important;
}

fieldset.widgets.available .elements {
    display: none;
}

.menu_editor tr {
    background:  white;
}