.mceBingoMore {
	border: 0px;
	border-top: 1px dotted #cccccc;
	display: block;
	width: 100%;
	height: 12px;
	margin-top: 15px;
}
.mceBingoMore {
	background: #ffffff url(../img/more_bug.gif) no-repeat right top;
}