form.images select { display:inline; width:auto; margin-right:10px; }

.ui-sortable-helper td { border-bottom:1px solid #ccc; }
.ui-sortable-helper td.check { border-left:1px solid #ccc; }
.ui-sortable-helper td.title { border-right:1px solid #ccc; }

table.images { margin-top:10px; }

    table.images td { background:#fff; vertical-align: middle; padding:5px; border-top:1px solid #ccc; }
        table.images td.check { width:10px; }
        table.images td.thumb { width:100px; }
        table.images td.desc,
        table.images td.title { vertical-align: top; }
        table.images td.desc { padding-right:10px; }