:include cms/base-edit

:block admin_header
    %link(type="text/css" rel="stylesheet" href="#{t_url('tests/style/tests.css')}")
    %script(type="text/javascript" src="#{t_url('tests/script/jquery.textarea.js')}")
    %script(type="text/javascript" src="#{t_url('tests/script/tests.js')}")