:include cms/base-edit-tinymce

:block admin_header
    %script(type="text/javascript" src="#{t_url('tests/script/tests.js')}")
    %script(type="text/javascript" src="#{t_url('tests/script/jquery.textarea.js')}")