- include partial('cms/base')

- startblock('admin_header')
    %script(type="text/javascript" src="#{t_url('tests/script/jquery.textarea.js')}")
    %script(type="text/javascript" src="#{t_url('tests/script/tests.js')}")
    - include partial("cms/tinymce");
- endblock();

- startblock('content')

    %fieldset
        %span.legend = _t('Questions')
        .fieldset-content = $question_list
    %fieldset
        %span.legend = _t('Templates')
        .fieldset-content = $template_list

    .form
        = $form
- endblock()