@font-face {
    font-family: futura-pt;
    src: url("../fonts/futura-pt-book.otf") format("opentype");
}
@font-face {
    font-family: futura-pt-bold;
    font-weight: bold;
    src: url("../fonts/futura-pt-bold.otf") format("opentype");
}
@font-face {
    font-family: futura-pt-medium;
    font-weight: bolder;
    src: url("../fonts/futura-pt-medium.otf") format("opentype");
}
* {
    font-family: futura-pt, serif;
    word-wrap: break-word;
}
html {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    padding:0px;
    margin:0px;
    font-size:18px;
    line-height:135%;
    background: url(../img/background.png) repeat;
    position: relative;
    min-height: 100%;
    padding-bottom: 140px;
}
h1, .likes, .rating {
    font-size: 42px;
    font-family: futura-pt-bold;
    margin: 5px 0;
    margin-left: 10px;
}
.likes, .rating {
    display: block;
}
.likes a, .rating a {
    text-decoration: none;
}
h2 { 
	padding:10px 10px;
	margin: 30px 0px 20px;
    font-size: 40px;
    font-weight: bold;
}
p {
    margin: 4px 0 8px;
}
input {
    margin-bottom: 10px;
}
input[type=checkbox] {
    margin: 0 5px 0 0;
    vertical-align: middle;
    position: relative !important;
}
textarea {
    resize: none;
}
textarea::-webkit-scrollbar {
    display: none;
}
.checkbox {
    padding-top: 0 !important;
}
select {
  text-indent: 4px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 16px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.review-form-input {
    margin-bottom: 15px;
}
.anonymous-question {
    margin-bottom: 0;
}
@media (max-width: 767px) {
    .pull-none-xs {
        float:none!important;
    }
}
@media (max-width: 780px) {
    .conference-list-input-group, .journal-list-input-group {
        width: 100%;
    }
    .journal-list-input-group .input-group-addon, .conference-list-input-group .input-group-addon {
        display: block;
        position: absolute;
        top: 40px;
        padding: 0;
        margin: 0;
        border: none;
    }
}
@media (max-width: 770px) {
    h2 select {
        margin-top: 5px;
    }
}
nav li a {
    padding: 5px 10px 5px;
}
.icon-bar {
    background-color: #000;
}
nav.theme-navbar, .dropdown-menu {
    background-color: #fff;
    font-family: futura-pt-bold, serif;
    border-bottom: 1px solid #9c9c9c;
    font-size: 16px;
    text-transform: uppercase;
    color: #c8c3be;
}
.dropdown-menu {
    top: 104%;
}
nav.theme-navbar .navbar-brand {
    color: #000;
    font-family: futura-pt-bold, serif;
    font-size: 20px;
    font-weight: bold;
}
nav.theme-navbar ul.navbar-auth {
    padding: 7px 0;
}
nav.theme-navbar ul.navbar-auth li a {
    margin-right: 16px;
}
nav.theme-navbar ul.navbar-menu li a {
    color: #c8c3be;
    font-family: futura-pt-bold, serif;
    font-weight: bold; 
}
nav.theme-navbar ul.navbar-menu li a:hover {
    color: #000;
    background-color: transparent;
}
nav.theme-navbar ul.navbar-menu li a:visited, nav.theme-navbar ul.navbar-menu li a:focus, nav.theme-navbar ul.navbar-menu li a:active {
    background-color: transparent;
}
.main-page-additional-header {
    padding: 30px 15px;
    border-top: 1px solid #9c9c9c;
    border-bottom: 1px solid #9c9c9c;
    background-color: white;
    color: black;
    margin-top: -10px;
    margin-bottom: 40px;
}
.main-page-additional-header form {
    margin-top: 50px;
}
.main-page-additional-header input, .main-page-additional-header button {
    height: 36px;
}
.main-page-additional-header .input-group-btn button {
    outline: none;
}
.main-page-nav {
    margin: 40px auto 40px;
}
.main-page-nav  .main-page-nav-item {
    display: inline-block;
}
.main-page-nav  .main-page-nav-item a {
    margin: 10px 20px;
    padding: 15px 10px;
    width: 200px;
}
.main-page-nav  .main-page-nav-item h3 {
    margin-bottom: 30px;
    font-weight: 500;
    margin-top: 20px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}
.main-page-nav  .main-page-nav-item img {
    width: 64px;
    display: block;
    margin: auto;
}
@media (max-width: 767px) {
    .main-page-additional-header .btn.btn-default {
        min-width: 65px;
    }
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 50px;
    border-top: 1px solid #9c9c9c;
    background-color: white;
}
footer .navigation a{
    display: inline-block;
    padding: 10px;
    color: #c8c3be;
    font-family: futura-pt-bold, serif;
    font-weight: bold;
    text-decoration: none;
}
footer .navigation a:hover {
    color: black;
    text-decoration: none;
}
footer p {
    line-height: 15px;
}
footer .mail {
    font-size: 16px;
}
footer .copyright {
    font-size: 12px;
}
.open  a, .open {
    background-color: transparent !important;
}
p a.btn {
    margin: 12px auto 6px !important;
}
.btn:active:focus {
    outline: none;
}
.btn.btn-default {
    min-width: 150px;
    padding: 6px 10px;
}
.btn.btn-default {
    border: 2px solid #c8c3be;
    color: #a09b96;
    background-color: #fff;
    border-radius: 16px;
    margin-left: 16px;
}
#navbar .btn.btn-default {
    background-color: transparent;
}
#navbar .btn.btn-default .login-button {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
}
#navbar .dropdown.open .btn.btn-default.user-button {
    font-weight: bold;
    color:black;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: #0096ff;
    border-bottom-color: transparent;        
}
#navbar .authorized-options li {
    text-align: center;
}
#navbar .authorized-options li a {
    color: #c8c3be;
    font-size: 14px;
    font-weight: bolder;
    margin-right: 0px;
}
#navbar .authorized-options li a:hover, #navbar .authorized-options li a:focus {
    color: black;
}
#navbar .btn.btn-default.user-button .login-button {
    display: inline-block;
    vertical-align: middle;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}
#navbar .authorized-options {
    margin: -12px 16px 0px;
    border: 2px solid #0096ff;
    border-top: none;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding-top: 0px;
    box-shadow: none;
}
@media (min-width: 768px) {
    #navbar .btn.btn-default.user-button {
        width: 200px;
    }
    #navbar .authorized-options {
        margin: -4px 0px 0px;
        max-width: 200px;
        left: 16px;
    }
}
@media (max-width: 767px) {
    #navbar .btn.btn-default {
        margin-bottom: 10px;
    }
}
.btn.btn-default:hover {
    border: 2px solid #0096ff;
    color: #0096ff;
}
.btn.btn-default:active, .btn.btn-default.active, #navbar .btn.btn-default:active, #navbar .btn.btn-default.active {
    border: 2px solid #0069d2;
    background-color: #0069d2;
    color: #fff;
}
.btn.btn.btn-default.btn-all-results {
    margin: 20px auto;
}
.btn.btn-primary {
    border-radius: 16px;
    margin-right: 8px;
    margin-bottom: 10px;
}
.label {
    display: inline-block;
}
.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    word-wrap: break-word;
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: white;
}
@media(max-width: 400px) {
    .panel {
        margin-top: 15px;
    }
}
.panel .panel-heading {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
@media (min-width: 550px) {
    .panel .panel-heading .panel-date {
        margin-top: 8px;
    }
}
.panel .panel-body {
    padding: 5px;
}
.panel-default .panel-body {
    padding: 10px;
}
.panel-default .panel-body .panel-info {
    padding: 32px 36px;
}
.panel-default .panel-body .panel-info .panel-categories {
    margin-bottom: 8px;
}
.panel-default .panel-body .panel-info .panel-categories a {
    text-transform: uppercase;
    text-decoration: underline;
    color: #b4afaa;
    font-size: 16px;
    margin-right: 5px;
    word-wrap: normal;
}
.panel-default .panel-body .panel-info .panel-name a {
    font-size: 28px;
    font-family: futura-pt-bold, serif;
    color: #000;
}
.panel-default .panel-body .panel-info .panel-description {
    color: #b4afaa;
    font-size: 16px;
}
.panel-default .panel-body .panel-stats {
    color: #b4afaa;
    font-size: 16px;
    padding:  0 32px 8px;
}
.panel-default .panel-body .panel-stats .stat {
    margin-right: 10px;
}
.panel-default .panel-body .panel-stats .fa {
    font-weight: 100;
    font-size: 26px;
    margin-right: 4px;
}
.panel-default span.location {
    color: #b4afaa;
    font-size: 14px;
    margin-left: 16px;
}
.panel-default span.time {
    color: #b4afaa;
    font-size: 16px;
    margin-right: 16px;
}

.panel-heading .img-rounded, .imhotop-avatar {
    vertical-align: middle;
}
.imhotop-with-notes-user-info {
    vertical-align: middle;
    display: inline-block;
}
@media (max-width: 400px) {
    .panel-default .panel-body .panel-stats .stat {
        margin-right: 5px;
    }
    .panel-default .panel-body .panel-stats .fa {
        font-size: 18px;
        margin-right: 2px;
    }
      .panel-default .panel-body {
        padding: 5px;
    }
    .panel-default .panel-body .panel-info {
        padding: 10px 14px;
    }
    .panel-default .panel-body .panel-info .panel-name a {
        font-size: 21px;
    }
}
.panel-question {
    background-color: white;
    border: none;
    border-radius: 16px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 20px 20px 5px;
    margin-bottom: 0;
    border: 1px dotted #a9a9a9;
}
.panel-question .question-journal {
    font-family: futura-pt, serif;
    font-size: 16px;
    line-height: 32px;
    color: #c8c3be;
    height: auto;
    margin-bottom: 8px;
}
.panel-question .question-journal a {
    font-weight: 700;
    color: #a09b96;
    margin-left: 8px;
}
.panel-question .question-heading {
    padding: 11px 0;
}
.panel-question .question-heading .user p {
    margin: 0;
    color: #a09b96;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}
.panel-question .question-heading .user a {
    font-family: futura-pt,serif;
    color: #000;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: .025rem;
    display: inline-block;
    margin-right: 16px;
    text-transform: uppercase;
}
.panel-question .question-date {
    font-family: futura-pt,serif;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: .025rem;
    font-weight: 500;
    color: #c8c3be;
}
.panel-question .question-text .review-notes p {
    font-family: PT Serif,serif;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 30px;
}
.review-notes.col-xs-12, .review-withdraw-reasons.col-xs-12 {
    padding-left: 23px;
    margin-top: 10px;
}
.question-view .panel-body {
    padding: 10px 15px;
}
.question-avatar, .comment-avatar {
    margin-right: 10px;
}
.question-avatar {
    vertical-align: bottom;
}
.comment-avatar {
    vertical-align: sub;
}
.question-name-status-holder, .comment-name-status-holder {
    display: inline-block;
}
@media (max-width: 450px) {
    .panel-question .question-journal {
        font-size: 12px;
    }
}
.show-comments-button {
    font-size: 20px;
    padding-right: 10px;
}
.show-comments-button:hover {
    text-decoration: none;
}
.panel-question .show-comments-button {
    padding-right: 0;
}
.panel .comments-container {
    padding: 0 10px;
}
.comments-container .panel {
    background-color: white;
}
table, table.table {
    word-wrap: break-word; 
    margin: 20px 0 0;
}
table.research-info {
    width: 100%;
    table-layout:fixed;
}
table.research-info td, table.research-info td p {
    word-wrap: normal;
}
.research-info>tbody>tr>th, .research-info>tbody>tr>td {
    border-top: 1px solid #9c9c9c;
}
.journal-table-list-select .select-styled {
    padding-left: 15px!important;
}
@media (max-width: 767px) {
    .journal-table-list-wrapper {
        overflow-x: scroll;
        background-color: #fff;
    }
    .journal-table-list-wrapper table.table {
        margin: 1px;
    }
    table th .ui-selectmenu-button, table td .ui-selectmenu-button {
        width: 90px !important;
    }
    .conference-list-input-group .pull-left, .conference-list-input-group .ui-selectmenu-button, .journal-list-input-group .pull-left, .journal-list-input-group .ui-selectmenu-button {
        width: 100%;
    }
    .conference-list-input-group .btn.btn-primary, .journal-list-input-group .btn.btn-primary {
        margin-right: 0px;
    }
    .ui-datepicker {
        max-width: 240px;
    }
    .prev-next-conferences .text-left, .prev-next-conferences .text-right {
        text-align: center!important;
    }
}
.nav-tabs {
    border-bottom: 1px solid #9c9c9c;
}
#journal .table td, #conference .table td, .custom-table .table td {
    vertical-align: top;
    padding: 10px;
}
#journal .table th, #journal .table td, #conference .table th, #conference .table td, .custom-table .table th, .custom-table .table td {
    border: none;
} 
#journal .table tr>th, #conference .table tr>th, .custom-table .table tr>th  {
    font-weight: 700;
    color: rgb(79,79,79);
    width: 150px;
    text-align: right;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #9c9c9c;
}
#journal .table tr>td, #conference .table tr>td, .custom-table .table tr>td {
    color: rgb(100,100,100);
}
#journal h1, #conference h1 , .custom-table h1 {
    line-height: 140%;
    font-size: 46px;
    color: rgb(79,79,79);
    margin-top: 10px;
    text-align: center;
}
#journal .label, #conference .label {
    vertical-align: text-top;
}
@media (max-width: 500px) {
    #journal .table tr>th {
        width: auto;
    }
}
.progress-bar-neutral {
  background-color: #888;
}

.panel-neutral {
  border-color: #888;
}
.panel-neutral > .panel-heading {
  color: 0;
  background-color: rgba(160, 155, 150, 0.7);
}
.panel-neutral > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #888;
}
.panel-neutral > .panel-heading .badge {
  color: #DDD;
  background-color: 0;
}
.panel-heading a,
.panel-footer a {
  color: inherit;
}
.panel-neutral > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #888;
}
.panel-success>.panel-heading {
    color: rgb(79,79,79);
    background-color: rgba(92, 184, 92, 0.7);
    border-color: #d6e9c6;
}
.panel-danger>.panel-heading {
    color: black;
    background-color: rgba(180, 10, 0, 0.8);
    border-color: #ebccd1;
}

.profile-form .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.profile-form select.form-control {
    margin-bottom: 10px;
}
.profile-form .avatar-input {
    margin-bottom: 10px;
}
.profile-form .avatar-input .avatar-input-file span.btn-file {
    display: block;
    margin: 0px;
}
.profile-form .avatar-input-file .browse-avatar {
    display: none;
}
.profile-form .avatar-input-image .avatar-image-wrapper {
    display: block;
    position: absolute;
}
.profile-form .remove-avatar {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}
.profile-form .remove-avatar:hover {
    color:red;
    text-shadow: 1px 0px 5px red;
}
.user-profile-image {
    text-align: right;
}
.user-profile-items-row {
    margin-bottom: 20px;
}
.profile-rating {
    margin-top: 25px;
}
@media (max-width: 767px) {
    .user-profile .nav.nav-tabs li {
        float: none;
        text-align: center;
    }
    .user-profile-image {
        text-align: center;
    }
    .user-profile-item {
        margin-bottom: 10px;
    }
    .user-profile-items-row { 
        margin-bottom: 0px; 
    } 
}
.user-profile h1 {
    margin: 0 0 10px;
}

table .progress {
  margin-bottom: 0;
}

.review-text {
    margin-left:20px;
}

.comment-form {
    padding: 10px;
}
.filter-form {
    margin: 10px 0;
}
.tops {
    margin-bottom: 10px;
}
.tops select, .tops .ui-selectmenu-button {
    height: 47px;
    padding-top: 10px;
    margin: 0;
    margin-bottom: -1px !important;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
@media (max-width: 400px) {
    .comment-form {
        padding: 5px;
    }
}
.array_header_template {
  display: none;
}


.like-button, .like-button:link, .like-button:visited, 
.like-button:hover, .like-button:active { 
    text-decoration: none;
}

#review_form .critic-group, 
#review_form .published_group, 
#review_form #withdraw_group  {
  display: none;
}

#review_form .has-critic {
  display: inherit; 
}

#review_form.review-has-critic .critic-group {  
  display: inherit; 
}

#review_form.article-status-refused .has-critic,
#review_form.article-status-critic-refused .has-critic,
#review_form.article-status-on-critic .has-critic,
#review_form.article-status-repeat-critic .has-critic  {  
  display: none;
}

#review_form.article-status-refused .critic-group,
#review_form.article-status-on-critic .critic-group {  
  display: none;
}

#review_form.article-status-critic-refused .critic-group,
#review_form.article-status-repeat-critic .critic-group {  
  display: inherit; 
}

#review_form.article-status-published .published_group { 
  display: inherit; 
}

#review_form.article-status-withdraw #withdraw_group {  
  display: inherit; 
}

.vcenter {
	vertical-align: middle;
}

.pagination > ul {
    display: block;
    padding: 0;
}

.pagination > ul > li {
    display: inline;
    padding: 8px 16px;
    text-decoration: none;
}

.toggle-radio >  input {
   display: none;
}

.toggle-radio > label {    
  color: #333;
  background-color: #FFF;
  border: 1px #CCC;
  padding: 2px 16px;
  border-radius: 4px;
}

.toggle-radio > input:checked + label.success {
  color: #fff;
  background-color: #5cb85c;
  border: 1px #4cae4c;
}

.toggle-radio > input:checked + label.neutral {
  color: #fff;
  background-color: #888;
  border: 1px #666;
}

.toggle-radio > input:checked + label.danger {
  color: #fff;
  background-color: #d9534f;
  border: 1px #d43f3a;
}

#standart_imhotop_form .tops {  
  display: inherit;
}

#standart_imhotop_form.user-not-competent {  
  display: none;
  visibility: hidden;
}
#submit-competent {
    display: inline-block;
}
#submit-competent.competent {
    display: none;
}
.imho-top10-buttons {
    margin-top: 28px;
}
.imho-top10-buttons .btn.btn-default {
    margin: 5px 8px; 
}
.imhotop-header .full-width div[class*="col"]:last-child {
    text-align: center;
    padding-left: 30px;
}
.imhotop-header .full-width .row.centered {
    display: flex;
    align-items: center;
}
.journal-imhotop-categories-container {
    overflow-x: auto;
}
.journal-imhotop-categories-container table.table>tbody>tr:first-child>th {
    padding: 8px 35px;
}
.journal-imhotop-categories-container::-webkit-scrollbar {
    width: 1em;
}
 
.journal-imhotop-categories-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.journal-imhotop-categories-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.imhotop-header .full-width .user-name, .imhotop-header .full-width .user-status, .imhotop-header .full-width .imhotop-identity {
    margin-bottom: 5px;
}
.imhotop-header .full-width .imhotop-link {
    margin: 0px;
}
@media (min-width: 1200px) {
    .link-and-identity-holder {
        float: right!important;
        max-width: 150px;
    }
}
@media (max-width: 992px) {
    .imhotop-header .full-width div[class*="col"]:last-child {
        padding-left: 15px;
    }
}
@media (max-width: 767px) {
   .imhotop-name-holder {
       text-align: center;
   }
   .imhotop-name-holder .label {
       margin-bottom: 5px; 
   }
   .imhotop-name-holder .btn.btn-default {
       margin-left: 0px;
   }
   #imhotop_form .imhotop-edit-buttons {
       text-align: center;
   }
   #imhotop_form .imhotop-edit-buttons .btn[class*="pull"], #imhotop_form .imhotop-edit-buttons label[class*="pull"] {
       float: none!important;
       min-width: 130px;
       margin: 5px 0px;
   } 
   .imhotop-header th {
       text-align: center;
    }
    .imhotop-header .user-name, .imhotop-header .user-status {
        display: block;
    }
   .imhotop-header .user-name, .imhotop-header .user-status {
       margin-bottom: 5px;
   }
   .imhotop-header .imhotop-identity {
       margin-bottom: 10px!important;
   }
   .imhotop-header .imhotop-link {
        display: block;
        float: none!important;
        margin: 0 auto!important;
        max-width: 150px;
   }
   .imhotop-header .full-width div[class*="col"]:last-child .btn.btn-default {
        width: 100%;
    }
}
#conference_review_form .culture  {
  display: none;
}
#conference_review_form table {
    width: 100%;
}
#conference_review_form.has-culture .culture {
  display: block; 
}
@media (max-width: 767px) {
    #conference_review_form .col-xs-12, #review_form div[class*="col-sm"] {
        text-align: center;
    }
}
.table-bordered {
    background-color: #fff;
}
.journal-stat, .conference-stat {
    margin-top: -60px;
    position: relative;
    right: 0;
    top: 75px;
}
@media (max-width: 991px) {
    .likes, .rating {
        float: none !important;
        text-align: center;
    }
    .journal-stat, .conference-stat {
        margin-top: 0;
        position: relative;
        top: 0;
    }
}
@media (max-width: 600px) {
    h1 {
        font-size: 24px !important;
    }
    h2 {
        font-size: 20px !important;

    }
    .likes, .rating {
        font-size: 20px;
    }
}
@media (max-width: 767px) {
    .ui-selectmenu-menu.resized-xs .ui-menu {
        max-width: 100%;
    }
}
.ui-menu-item:focus, .ui-menu-item:hover {
    border: 1px solid #007fff;
    background: #2e6da4;
    font-weight: normal;
    color: #fff;
}

.ui-menu-item:focus, .ui-menu-item:hover {
    border: 1px solid #007fff;
    background: #2e6da4;
    font-weight: normal;
    color: #fff;
}

.ui-autocomplete { 
    height: 200px; 
    overflow-y: scroll; 
    overflow-x: hidden; 
    margin-top: 10px; 
    border-radius: 10px;
}
.ui-autocomplete::-webkit-scrollbar {
    width: 12px;
}
.ui-autocomplete::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
.ui-autocomplete::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* FEEDBACK-EDIT*/
.feedback-edit-text {
    padding-left: 6px;
}

/* POPUP-TIP */

.popup-tip-pointer {
    cursor: pointer;
}
.popup-tip {
    position: absolute;
    max-width: 250px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px; 
    font-size: 14px;
    padding: 5px 10px;
    z-index: 1000;
    display: none;
    margin-top: -15px;
}


/**** Social Icons ****/
.social-icons {padding-top: 10px;}
.social-icons li {
	list-style: none; 
	float: left;
	margin-right: 6px;
}
/* Small Monitor */
@media (min-width: 980px) and (max-width: 1199px) {
	.social-icons li:last-child {display:none;}
}
div.social-icon { 
	background: url(../img/socials.png);
	display: inline-block; 
	width: 40px; 
	height: 38px;
    cursor: pointer;
}
div.vk {background-position: -78px -14px;}
div.google {background-position: -205px -137px;}
div.facebook {background-position: -120px -14px;}
div.yandex {background-position: -165px -137px;}

@media (max-width: 768px ) {
    .tops .nav-tabs>li {
        float:none;
    }
    .tops .pull-right.form-inline {
        float: none !important;
        margin-bottom: 10px;
    }
    .filter-form {
        text-align: center;
    }
    .filter-form .filter-action {
        float: none!important;
    }
    body * {
        cursor: pointer;
    }
    .modal-footer {
        text-align: center;
    }
    .modal-footer .btn {
        min-width: 130px;
        margin: 0px 5px 5px;
    }
    .conference-location {
        margin-right: 10px;
    }
    .conference-date {
        margin-left: 10px;
    }
}

.input-group:last-child .input-group-addon {
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
}
.ui-selectmenu-button {
    color: rgb(80,80,80);
    text-align: left;
    width: 192px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    
}
.journal-list-input-group .ui-selectmenu-button, 
.conference-list-input-group .ui-selectmenu-button, 
#top10_form .ui-selectmenu-button, 
#review_form .ui-selectmenu-button,
.journal-table .ui-selectmenu-button,
#standart_imhotop_form .ui-selectmenu-button {
    border-radius: 16px;
    background-color: white;
    font-size: 16px;
    margin: 10px;
    outline: none;
}
.ui-selectmenu-menu.full-width .ui-menu {
    max-width: 100%;
}
#standart_imhotop_form .ui-selectmenu-button {
    width: 100%;
    margin: 10px 0;
}
#review_form input.date {
    max-width: 100px;
}
#review_form .ui-selectmenu-button {
    margin: 0px 10px 0px 20px;
}
.journal-table .ui-selectmenu-button {
    margin: 10px 0;
}
.review-facebook-share .btn.btn-primary {
    margin: 10px 0px !important;
}
@media (max-width: 1200px) {
   
    #review_form .picker {
        text-align: center;
        margin: 10px 0;
    }
    #review_form .picker .input-group {
        margin: 0 auto;
    }
    #review_form .picker .input-group, #review_form .picker .input-group input.date {
        max-width: 100%;
    }
}
.form-panel {
    padding: 15px 10px 5px;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    word-wrap: break-word;
    background-color: white;
    margin-bottom: 14px;
}
.form-panel .form-inline {
    padding: 5px;
}
.form-panel .ui-selectmenu-button {
    margin-left: 0;
}
@media (max-width: 767px) {
    .form-panel {
        padding: 0;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .form-panel .form-inline  {
        float: left;
    }
}
.ui-selectmenu-button[aria-expanded="true"] {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.ui-selectmenu-menu .ui-menu  {
    max-width: 192px;
    margin-top: -1px;
    border: 1px solid #ccc;
    border-top-width: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    font-size: 16px;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item-wrapper {
    padding-left: 20px;
}
.ui-selectmenu-icon.ui-icon {
    margin-top: 4px;
}
.custom-combobox a {
    display:none;
}
.custom-combobox .custom-combobox-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 16px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.custom-combobox .custom-combobox-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

#imhotop_form .btn.btn-default {
    margin-left: 6px;
}

@media (max-width: 992px) {
    .text-center-sm {
        text-align: center;    
    }
}
span.error {
    display: inline-block;
    color:red;
    font-weight: bold;
    margin-bottom: 10px;
}
span.star {
    font: normal normal normal 20px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    margin-right: 2px;
}
span.star:after {
    content: '\f005';
    color: #d2d2d2;
}
span.star.on:after {
    color: #EDB867;
}


/* FONT AWESOME STARS */
.br-theme-fontawesome-stars .br-widget {
  height: 28px;
  white-space: nowrap;
}
.br-theme-fontawesome-stars .br-widget a {
  font: normal normal normal 20px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-right: 2px;
}
.br-theme-fontawesome-stars .br-widget a:after {
  content: '\f005';
  color: #d2d2d2;
}
.br-theme-fontawesome-stars .br-widget a.br-active:after {
  color: #EDB867;
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
  color: #EDB867;
}
.br-theme-fontawesome-stars .br-widget .br-current-rating {
  display: none;
}
.br-theme-fontawesome-stars .br-readonly a {
  cursor: default;
}
@media print {
  .br-theme-fontawesome-stars .br-widget a:after {
    content: '\f006';
    color: black;
  }
  .br-theme-fontawesome-stars .br-widget a.br-active:after,
  .br-theme-fontawesome-stars .br-widget a.br-selected:after {
    content: '\f005';
    color: black;
  }
}

/* BOOTSTRAP STARS */
.br-theme-bootstrap-stars .br-widget {
  height: 28px;
  white-space: nowrap;
}
.br-theme-bootstrap-stars .br-widget a {
  font: normal normal normal 18px/1 'Glyphicons Halflings';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-right: 2px;
}
.br-theme-bootstrap-stars .br-widget a:after {
  content: '\e006';
  color: #d2d2d2;
}
.br-theme-bootstrap-stars .br-widget a.br-active:after {
  color: #EDB867;
}
.br-theme-bootstrap-stars .br-widget a.br-selected:after {
  color: #EDB867;
}
.br-theme-bootstrap-stars .br-widget .br-current-rating {
  display: none;
}
.br-theme-bootstrap-stars .br-readonly a {
  cursor: default;
}
@media print {
  .br-theme-bootstrap-stars .br-widget a:after {
    content: '\e007';
    color: black;
  }
  .br-theme-bootstrap-stars .br-widget a.br-active:after,
  .br-theme-bootstrap-stars .br-widget a.br-selected:after {
    content: '\e006';
    color: black;
  }
}

.search-block {
    margin-bottom: 50px;
}
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 220px;
  height: 30px;
}
@media (max-width: 767px) {
    .conference-list-input-group .select, .journal-list-input-group .select {
        width: 100%;
    }
}
.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 16px;
    color: rgb(80,80,80);
    padding: 6px 7px 6px 10px;
    line-height: 16px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: #ccc transparent transparent transparent;
    position: absolute;
    top: 14px;
    right: 10px;
}
.select-styled.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.select-styled.active:after {
    top: 7px;
    border-color: transparent transparent #ccc transparent;
}

.select-options {
    display: none;
    position: absolute;
    top: 98%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: white;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    max-height: 400px;
    overflow-y: scroll;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.select-options::-webkit-scrollbar {
    width: 12px;
}
.select-options::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-bottom-right-radius: 10px;
}
 
.select-options::-webkit-scrollbar-thumb {
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.select-options li {
    margin: 0;
    padding: 3px 0;
    text-indent: 15px;
    color: #000;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}
.select-options li:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.select-options li:hover {
    background-color: #0069d2;
    color: white;
}
.select-options li[rel="hide"] {
    display: none;
}

