html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}
a img {
    border: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    background: transparent;
}
#id1400278405528 {
    min-height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: transparent;
}
#id1400278405528 > .container {
    position: relative;
    margin-bottom: -10px;
}
#id1400278405528 > .container > * {
    margin-bottom: 10px;
}
#id1400278405528 > .container {
    width: 940px;
    margin: 0 auto;
}
body #id1400278405530 {
    position: relative;
    display: block;
    vertical-align: top;
}
#content {
    min-height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: transparent;
}
#content > .container {
    position: relative;
    margin-bottom: -10px;
}
#content > .container > * {
    margin-bottom: 10px;
}
#content > .container {
    width: 940px;
    margin: 0 auto;
}
#content {
    min-height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: transparent;
}
#content > .container {
    position: relative;
    margin-bottom: -10px;
}
#content > .container > * {
    margin-bottom: 10px;
}
#content > .container {
    width: 940px;
    margin: 0 auto;
}
body #id1400279345432 {
    position: relative;
    display: block;
    vertical-align: top;
}
body {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #333;
    line-height: 1.5em;
}
body a {
    color: #337;
    text-decoration: none;
}
body a:hover {
    color: #242453;
    text-decoration: underline;
}
body p {
    margin: 0 0 1.5em;
}
body p:last-child {
    margin-bottom: 0;
}
body .alignleft {
    float: left;
    margin: 0 0.5em 0.5em 0;
}
body .alignright {
    float: right;
    margin: 0 0 0.5em 0.5em;
}
body h1 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    margin-bottom: 0.6000000000000001em;
    line-height: 1.2em;
}
body h2 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 2em;
    margin-bottom: 0.75em;
    line-height: 1.5em;
}
body h3 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin-bottom: 1em;
    line-height: 1em;
}
body h4 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1.1666666666666667em;
    margin-bottom: 1.2857142857142856em;
    line-height: 1.2857142857142858em;
}
body h5 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin-bottom: 1.5em;
    line-height: 1.5em;
}
body h6 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 0.9166666666666666em;
    margin-bottom: 1.6363636363636362em;
    line-height: 1.6363636363636365em;
}
body ul, body ol {
    padding: 0;
    margin: 0 0 1em 2em;
}
body ul ul, body ul ol, body ol ul, body ol ol {
    margin-bottom: 0;
}
body ul {
    list-style: disc;
}
body ol {
    list-style: decimal;
}
body hr {
    margin: 1.5em 0;
    border: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid white;
}
body strong {
    font-weight: bold;
}
body em {
    font-style: italic;
}
body blockquote {
    padding: 0 0 0 1.5em;
    margin: 0 0 1.5em 1.5em;
    border-left: 5px solid #1111ff;
}
body .dropcap {
    float: left;
    font-size: 52px;
    color: #000066;
    line-height: 52px;
    text-transform: uppercase;
    margin: 0 5px 0 0;
}
.alert {
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    color: #333;
    border: 1px solid #aaa;
    border-radius: 0.3em;
    padding: 1em 2em 1em 1em;
    background-color: #eee;
    font-size: 1.2em;
}
form > .alert {
    margin-bottom: 1em;
}
.alert .close {
    position: relative;
    top: -7px;
    right: -21px;
    line-height: 18px;
    float: right;
    font-size: 0;
    display: inline-block;
    text-decoration: inherit;
}
@font-face {
    font-family: 'FontAwesome';
    src: url('http://uxcandy.com/~boomyjee/templater/lib/modules/core/style/tea/common/../../fonts/fontawesome-webfont.eot');
    src: url('http://uxcandy.com/~boomyjee/templater/lib/modules/core/style/tea/common/../../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
url('http://uxcandy.com/~boomyjee/templater/lib/modules/core/style/tea/common/../../fonts/fontawesome-webfont.woff') format('woff'),
url('http://uxcandy.com/~boomyjee/templater/lib/modules/core/style/tea/common/../../fonts/fontawesome-webfont.ttf') format('truetype'),
url('http://uxcandy.com/~boomyjee/templater/lib/modules/core/style/tea/common/../../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
    font-weight: normal;
    font-style: normal;
}
.alert .close:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "\f00d";
}
.alert .close:before {
    color: #aaa;
    font-size: 14px;
}
.alert.error {
    color: #900;
    border-color: #a99;
    background: #faa;
}
.alert.notice {
    color: #770;
    border-color: #aa9;
    background: #ffa;
}
.alert.success {
    color: #070;
    border-color: #9a9;
    background: #afa;
}
#id1400278405530 {
    border: 1px solid #d4d4d4;
    background-color: transparent;
    border-radius: 4px;
    padding: 0 20px;
}
#id1400278405530 > ul {
    margin: 0;
    padding: 0;
}
#id1400278405530 > ul > li small {
    display: block;
    font-size: 0.85em;
}
#id1400278405530 > ul > li {
    display: inline-block;
}
#id1400278405530 > ul > li > a {
    font-size: 1.2em;
    display: inline-block;
    padding: 1.0em 1.5em;
    text-decoration: none;
    color: #777;
}
#id1400278405530 > ul > li > a:hover {
    color: #333;
}
#id1400278405530 > ul > li.current-menu-item > a {
    background-color: #e5e5e5;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    color: #555;
}
#id1400278405530 > ul ul {
    display: none;
}
