.teacss-ui .wp-editor-wrap {
    position: relative;
}

.teacss-ui .wp-editor-area {
    font-family: Consolas, Monaco, monospace;
    padding: 10px;
    margin: 1px 0 0;
    line-height: 150%;
    border: 0 none;
    outline: none;
    display: block;
    resize: vertical;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.teacss-ui .wp-editor-tools {
    height: 30px;
    padding: 0 10px 0 0;
}            

.teacss-ui .wp-switch-editor {
    height: 18px;
    font: 13px/18px Arial,Helvetica,sans-serif normal;
    margin: 5px 5px 0 0;
    padding: 4px 5px 2px;
    float: right;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #f1f1f1;
    border-color: #dfdfdf #dfdfdf #ccc;
    color: #999;
}       
                
.teacss-ui .wp-switch-editor:active {
    background-color: #f1f1f1;
}

.teacss-ui .wp-switch-editor:hover {
    text-decoration: none !important;
}

.teacss-ui .wp-editor-container textarea {
    border: 1px solid #ccc;
}

.teacss-ui .quicktags-toolbar input {
    width: auto;
}