/* mce classes */
*[data-mce-blox-editable="false"] {
    color: #ccc;
    font-size: 0.5em;
}

*[data-mce-blox-editable="false"] > * {
    color: #000;
    font-size: 2.0em;
}

.mceSelected {
    border: 1px dashed black;
    background: rgba(0,128,255,0.25);
    padding: 2px 2px;
}

span.mceSelected {
    display: inline-block;
}
    
.mceActions {
    display: none; 
}
            
.mceSelected > .mceActions {
    display: inline;
    margin-left: 5px;
}
                    
.mceActions > button {
    padding: 1px 3px;
    margin: 0;
    border: 1px solid #ddd;
    background: white;
    color: #047;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 2px;
}

/* control specific */
.mceShortcode_columns > .mceActions {
    display: block;
    margin-top: 5px;
}

.mceShortcode_column > .mceActions {
    display: block;
    margin: 5px 0;
}

.mceShortcode_column > .mceActions .remove {
    float: right;
}
        
.mceShortcode_columns > div {
    width: 100.0%;
    display: block;
    border: 1px dashed #ccc;
    background: #f9f9f9;
    min-height: 50px;
    padding: 5px 0 0;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.mceShortcode_column > div {
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
}
        

/* controls classes */
body {
    font-size: 14px;
}

a.button {
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #aaa;
    display: inline-block;
}

.one, .oh, .ot, .tt, .of, .tf {
    min-height: 50px;
    margin: 0 0.5% 5px;
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    width: 99%;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.oh {
    width: 49%;
}
            
.ot {
    width: 32.33%;
}
                    
.tt {
    width: 65.66%;
}

.of {
    width: 24%;
}
        
.tf {
    width: 74%;
}