i.icon {
    display: inline-block;
    text-decoration: inherit;
}
@font-face {
    font-family: 'FontAwesome';
    src: url('/~boomyjee/templater/modules/core/style/tea/common/../../fonts/fontawesome-webfont.eot');
    src: url('/~boomyjee/templater/modules/core/style/tea/common/../../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
url('/~boomyjee/templater/modules/core/style/tea/common/../../fonts/fontawesome-webfont.woff') format('woff'),
url('/~boomyjee/templater/modules/core/style/tea/common/../../fonts/fontawesome-webfont.ttf') format('truetype'),
url('/~boomyjee/templater/modules/core/style/tea/common/../../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
    font-weight: normal;
    font-style: normal;
}
i.icon:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "\f000";
}
i.icon-glass:before {
    content: "\f000";
}
i.icon-music:before {
    content: "\f001";
}
i.icon-search:before {
    content: "\f002";
}
i.icon-envelope:before {
    content: "\f003";
}
i.icon-heart:before {
    content: "\f004";
}
i.icon-star:before {
    content: "\f005";
}
i.icon-star-empty:before {
    content: "\f006";
}
i.icon-user:before {
    content: "\f007";
}
i.icon-film:before {
    content: "\f008";
}
i.icon-th-large:before {
    content: "\f009";
}
i.icon-th:before {
    content: "\f00a";
}
i.icon-th-list:before {
    content: "\f00b";
}
i.icon-ok:before {
    content: "\f00c";
}
i.icon-remove:before {
    content: "\f00d";
}
i.icon-zoom-in:before {
    content: "\f00e";
}
i.icon-zoom-out:before {
    content: "\f010";
}
i.icon-off:before {
    content: "\f011";
}
i.icon-signal:before {
    content: "\f012";
}
i.icon-cog:before {
    content: "\f013";
}
i.icon-trash:before {
    content: "\f014";
}
i.icon-home:before {
    content: "\f015";
}
i.icon-file:before {
    content: "\f016";
}
i.icon-time:before {
    content: "\f017";
}
i.icon-road:before {
    content: "\f018";
}
i.icon-download-alt:before {
    content: "\f019";
}
i.icon-download:before {
    content: "\f01a";
}
i.icon-upload:before {
    content: "\f01b";
}
i.icon-inbox:before {
    content: "\f01c";
}
i.icon-play-circle:before {
    content: "\f01d";
}
i.icon-repeat:before {
    content: "\f01e";
}
i.icon-refresh:before {
    content: "\f021";
}
i.icon-list-alt:before {
    content: "\f022";
}
i.icon-lock:before {
    content: "\f023";
}
i.icon-flag:before {
    content: "\f024";
}
i.icon-headphones:before {
    content: "\f025";
}
i.icon-volume-off:before {
    content: "\f026";
}
i.icon-volume-down:before {
    content: "\f027";
}
i.icon-volume-up:before {
    content: "\f028";
}
i.icon-qrcode:before {
    content: "\f029";
}
i.icon-barcode:before {
    content: "\f02a";
}
i.icon-tag:before {
    content: "\f02b";
}
i.icon-tags:before {
    content: "\f02c";
}
i.icon-book:before {
    content: "\f02d";
}
i.icon-bookmark:before {
    content: "\f02e";
}
i.icon-print:before {
    content: "\f02f";
}
i.icon-camera:before {
    content: "\f030";
}
i.icon-font:before {
    content: "\f031";
}
i.icon-bold:before {
    content: "\f032";
}
i.icon-italic:before {
    content: "\f033";
}
i.icon-text-height:before {
    content: "\f034";
}
i.icon-text-width:before {
    content: "\f035";
}
i.icon-align-left:before {
    content: "\f036";
}
i.icon-align-center:before {
    content: "\f037";
}
i.icon-align-right:before {
    content: "\f038";
}
i.icon-align-justify:before {
    content: "\f039";
}
i.icon-list:before {
    content: "\f03a";
}
i.icon-indent-left:before {
    content: "\f03b";
}
i.icon-indent-right:before {
    content: "\f03c";
}
i.icon-facetime-video:before {
    content: "\f03d";
}
i.icon-picture:before {
    content: "\f03e";
}
i.icon-pencil:before {
    content: "\f040";
}
i.icon-map-marker:before {
    content: "\f041";
}
i.icon-adjust:before {
    content: "\f042";
}
i.icon-tint:before {
    content: "\f043";
}
i.icon-edit:before {
    content: "\f044";
}
i.icon-share:before {
    content: "\f045";
}
i.icon-check:before {
    content: "\f046";
}
i.icon-move:before {
    content: "\f047";
}
i.icon-step-backward:before {
    content: "\f048";
}
i.icon-fast-backward:before {
    content: "\f049";
}
i.icon-backward:before {
    content: "\f04a";
}
i.icon-play:before {
    content: "\f04b";
}
i.icon-pause:before {
    content: "\f04c";
}
i.icon-stop:before {
    content: "\f04d";
}
i.icon-forward:before {
    content: "\f04e";
}
i.icon-fast-forward:before {
    content: "\f050";
}
i.icon-step-forward:before {
    content: "\f051";
}
i.icon-eject:before {
    content: "\f052";
}
i.icon-chevron-left:before {
    content: "\f053";
}
i.icon-chevron-right:before {
    content: "\f054";
}
i.icon-plus-sign:before {
    content: "\f055";
}
i.icon-minus-sign:before {
    content: "\f056";
}
i.icon-remove-sign:before {
    content: "\f057";
}
i.icon-ok-sign:before {
    content: "\f058";
}
i.icon-question-sign:before {
    content: "\f059";
}
i.icon-info-sign:before {
    content: "\f05a";
}
i.icon-screenshot:before {
    content: "\f05b";
}
i.icon-remove-circle:before {
    content: "\f05c";
}
i.icon-ok-circle:before {
    content: "\f05d";
}
i.icon-ban-circle:before {
    content: "\f05e";
}
i.icon-arrow-left:before {
    content: "\f060";
}
i.icon-arrow-right:before {
    content: "\f061";
}
i.icon-arrow-up:before {
    content: "\f062";
}
i.icon-arrow-down:before {
    content: "\f063";
}
i.icon-share-alt:before {
    content: "\f064";
}
i.icon-resize-full:before {
    content: "\f065";
}
i.icon-resize-small:before {
    content: "\f066";
}
i.icon-plus:before {
    content: "\f067";
}
i.icon-minus:before {
    content: "\f068";
}
i.icon-asterisk:before {
    content: "\f069";
}
i.icon-exclamation-sign:before {
    content: "\f06a";
}
i.icon-gift:before {
    content: "\f06b";
}
i.icon-leaf:before {
    content: "\f06c";
}
i.icon-fire:before {
    content: "\f06d";
}
i.icon-eye-open:before {
    content: "\f06e";
}
i.icon-eye-close:before {
    content: "\f070";
}
i.icon-warning-sign:before {
    content: "\f071";
}
i.icon-plane:before {
    content: "\f072";
}
i.icon-calendar:before {
    content: "\f073";
}
i.icon-random:before {
    content: "\f074";
}
i.icon-comment:before {
    content: "\f075";
}
i.icon-magnet:before {
    content: "\f076";
}
i.icon-chevron-up:before {
    content: "\f077";
}
i.icon-chevron-down:before {
    content: "\f078";
}
i.icon-retweet:before {
    content: "\f079";
}
i.icon-shopping-cart:before {
    content: "\f07a";
}
i.icon-folder-close:before {
    content: "\f07b";
}
i.icon-folder-open:before {
    content: "\f07c";
}
i.icon-resize-vertical:before {
    content: "\f07d";
}
i.icon-resize-horizontal:before {
    content: "\f07e";
}
i.icon-bar-chart:before {
    content: "\f080";
}
i.icon-twitter-sign:before {
    content: "\f081";
}
i.icon-facebook-sign:before {
    content: "\f082";
}
i.icon-camera-retro:before {
    content: "\f083";
}
i.icon-key:before {
    content: "\f084";
}
i.icon-cogs:before {
    content: "\f085";
}
i.icon-comments:before {
    content: "\f086";
}
i.icon-thumbs-up:before {
    content: "\f087";
}
i.icon-thumbs-down:before {
    content: "\f088";
}
i.icon-star-half:before {
    content: "\f089";
}
i.icon-heart-empty:before {
    content: "\f08a";
}
i.icon-signout:before {
    content: "\f08b";
}
i.icon-linkedin-sign:before {
    content: "\f08c";
}
i.icon-pushpin:before {
    content: "\f08d";
}
i.icon-external-link:before {
    content: "\f08e";
}
i.icon-signin:before {
    content: "\f090";
}
i.icon-trophy:before {
    content: "\f091";
}
i.icon-github-sign:before {
    content: "\f092";
}
i.icon-upload-alt:before {
    content: "\f093";
}
i.icon-lemon:before {
    content: "\f094";
}
i.icon-phone:before {
    content: "\f095";
}
i.icon-check-empty:before {
    content: "\f096";
}
i.icon-bookmark-empty:before {
    content: "\f097";
}
i.icon-phone-sign:before {
    content: "\f098";
}
i.icon-twitter:before {
    content: "\f099";
}
i.icon-facebook:before {
    content: "\f09a";
}
i.icon-github:before {
    content: "\f09b";
}
i.icon-unlock:before {
    content: "\f09c";
}
i.icon-credit-card:before {
    content: "\f09d";
}
i.icon-rss:before {
    content: "\f09e";
}
i.icon-hdd:before {
    content: "\f0a0";
}
i.icon-bullhorn:before {
    content: "\f0a1";
}
i.icon-bell:before {
    content: "\f0a2";
}
i.icon-certificate:before {
    content: "\f0a3";
}
i.icon-hand-right:before {
    content: "\f0a4";
}
i.icon-hand-left:before {
    content: "\f0a5";
}
i.icon-hand-up:before {
    content: "\f0a6";
}
i.icon-hand-down:before {
    content: "\f0a7";
}
i.icon-circle-arrow-left:before {
    content: "\f0a8";
}
i.icon-circle-arrow-right:before {
    content: "\f0a9";
}
i.icon-circle-arrow-up:before {
    content: "\f0aa";
}
i.icon-circle-arrow-down:before {
    content: "\f0ab";
}
i.icon-globe:before {
    content: "\f0ac";
}
i.icon-wrench:before {
    content: "\f0ad";
}
i.icon-tasks:before {
    content: "\f0ae";
}
i.icon-filter:before {
    content: "\f0b0";
}
i.icon-briefcase:before {
    content: "\f0b1";
}
i.icon-fullscreen:before {
    content: "\f0b2";
}
i.icon-group:before {
    content: "\f0c0";
}
i.icon-link:before {
    content: "\f0c1";
}
i.icon-cloud:before {
    content: "\f0c2";
}
i.icon-beaker:before {
    content: "\f0c3";
}
i.icon-cut:before {
    content: "\f0c4";
}
i.icon-copy:before {
    content: "\f0c5";
}
i.icon-paper-clip:before {
    content: "\f0c6";
}
i.icon-save:before {
    content: "\f0c7";
}
i.icon-sign-blank:before {
    content: "\f0c8";
}
i.icon-reorder:before {
    content: "\f0c9";
}
i.icon-list-ul:before {
    content: "\f0ca";
}
i.icon-list-ol:before {
    content: "\f0cb";
}
i.icon-strikethrough:before {
    content: "\f0cc";
}
i.icon-underline:before {
    content: "\f0cd";
}
i.icon-table:before {
    content: "\f0ce";
}
i.icon-magic:before {
    content: "\f0d0";
}
i.icon-truck:before {
    content: "\f0d1";
}
i.icon-pinterest:before {
    content: "\f0d2";
}
i.icon-pinterest-sign:before {
    content: "\f0d3";
}
i.icon-google-plus-sign:before {
    content: "\f0d4";
}
i.icon-google-plus:before {
    content: "\f0d5";
}
i.icon-money:before {
    content: "\f0d6";
}
i.icon-caret-down:before {
    content: "\f0d7";
}
i.icon-caret-up:before {
    content: "\f0d8";
}
i.icon-caret-left:before {
    content: "\f0d9";
}
i.icon-caret-right:before {
    content: "\f0da";
}
i.icon-columns:before {
    content: "\f0db";
}
i.icon-sort:before {
    content: "\f0dc";
}
i.icon-sort-down:before {
    content: "\f0dd";
}
i.icon-sort-up:before {
    content: "\f0de";
}
i.icon-envelope-alt:before {
    content: "\f0e0";
}
i.icon-linkedin:before {
    content: "\f0e1";
}
i.icon-undo:before {
    content: "\f0e2";
}
i.icon-legal:before {
    content: "\f0e3";
}
i.icon-dashboard:before {
    content: "\f0e4";
}
i.icon-comment-alt:before {
    content: "\f0e5";
}
i.icon-comments-alt:before {
    content: "\f0e6";
}
i.icon-bolt:before {
    content: "\f0e7";
}
i.icon-sitemap:before {
    content: "\f0e8";
}
i.icon-umbrella:before {
    content: "\f0e9";
}
i.icon-paste:before {
    content: "\f0ea";
}
i.icon-user-md:before {
    content: "\f200";
}
a.icon-link {
    font-size: 3em;
    margin-right: 0.5em;
    color: inherit;
    text-decoration: none;
}
a.icon-link:hover {
    text-decoration: none;
}
.footer-dark .widget {
    color: #8C8989;
}
.footer-dark .widget h1, .footer-dark .widget h2, .footer-dark .widget h3, .footer-dark .widget h4, .footer-dark .widget h5 {
    color: #ddd;
}
.footer-dark .widget a, .footer-dark .widget .twitter-tweet-time {
    color: #bfbfbf;
    text-shadow: 1px 2px 1px black;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}
a img {
    border: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    color: #333;
}
a {
    color: #337;
    text-decoration: none;
}
a:hover {
    color: #242453;
    text-decoration: underline;
}
p {
    margin: 0 0 1.5em;
}
.alignleft {
    float: left;
    margin: 0 0.5em 0.5em 0;
}
.alignright {
    float: right;
    margin: 0 0 0.5em 0.5em;
}
h1 {
    font-size: 2.5em;
    font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
    margin-bottom: 0.6000000000000001em;
    line-height: 1.2em;
}
h2 {
    font-size: 2em;
    font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
    margin-bottom: 0.75em;
    line-height: 1.5em;
}
h3 {
    font-size: 1.5em;
    font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
    margin-bottom: 1em;
    line-height: 1em;
}
h4 {
    font-size: 1.1666666666666667em;
    font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
    margin-bottom: 1.2857142857142856em;
    line-height: 1.2857142857142858em;
}
h5 {
    font-size: 1em;
    font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
    margin-bottom: 1.5em;
    line-height: 1.5em;
}
h6 {
    font-size: 0.9166666666666666em;
    font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
    margin-bottom: 1.6363636363636362em;
    line-height: 1.6363636363636365em;
}
ul, ol {
    padding: 0;
    margin: 0 0 1em 2em;
}
ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
hr {
    margin: 1.5em 0;
    border: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid white;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
blockquote {
    padding: 0 0 0 1.5em;
    margin: 0 0 1.5em 1.5em;
    border-left: 5px solid #000000;
}
.dropcap {
    float: left;
    font-size: 52px;
    color: #000000;
    line-height: 52px;
    text-transform: uppercase;
    margin: 0 5px 0 0;
}
form {
    margin: 0 0 1.5em;
    padding-right: 0.8em;
}
form label {
    display: block;
    margin-bottom: 0.4em;
}
form input, form textarea, form select {
    display: inline-block;
    width: 100%;
    height: 1.5em;
    padding: 0.3em;
    margin-right: -0.6em;
    margin-bottom: 0.8em;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 0.3em;
}
form textarea {
    height: auto;
}
form select, form input[type="file"] {
    height: 2.1em;
    line-height: 2.1em;
    margin-right: 0;
    outline: thin dotted #333;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background-color: #f2f2f2;
    background-image: -moz-linear-gradient(top, #f5f5f5, #eee);
    background-image: -ms-linear-gradient(top, #f5f5f5, #eee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eee));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
    background-image: -o-linear-gradient(top, #f5f5f5, #eee);
    background-image: linear-gradient(top, #f5f5f5, #eee);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#f5f5f5,#eee));
    border-color: #eee #eee #c8c8c8;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0, 0, 0, 0.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}
form input[type="image"], form input[type="checkbox"], form input[type="radio"] {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 0.3em 0 0;
    line-height: normal;
    border: 0;
    cursor: pointer;
    border-radius: 0 e("\0/");
}
form input, form textarea {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -ms-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}
form input:focus, form textarea:focus {
    border-color: rgba(82,168,236,.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    outline: 0;
    outline: thin dotted \9;
}
form input[type="file"]:focus, form input[type="checkbox"]:focus, form select:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
form span.error {
    color: #cc0000;
    position: relative;
    display: block;
    top: -0.8em;
    font-style: italic;
}
form input.error {
    background: #ffcccc;
}
form .control-group {
    margin-bottom: 0.8em;
}
form .control-group label {
    display: inline-block;
    margin: 0.7em 1em 0 0;
}
form .control-group p {
    color: #777;
    margin: 0 0 -0.6em;
    position: relative;
    top: -0.6em;
}
form.vertical > label {
    float: left;
    width: 200px;
    text-align: right;
    margin-top: 0.6em;
}
form.vertical > input, form.vertical > textarea, form.vertical > select, form.vertical > .control-group {
    margin-left: 210px;
}
form input + fieldset {
    margin-top: 1em;
}
form fieldset .legend, form fieldset legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 0.4em;
    font-size: 1.3em;
    line-height: 1.3em;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
button, a.button, input[type=button], input[type=submit] {
    display: inline-block;
    padding: 0.3em 0.7em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    white-space:nowrap;
    margin: 2px;
    width: auto;
    height: auto;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 0.3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background-color: #e7e7e7;
    background-image: -moz-linear-gradient(top, #eee, #ddd);
    background-image: -ms-linear-gradient(top, #eee, #ddd);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));
    background-image: -webkit-linear-gradient(top, #eee, #ddd);
    background-image: -o-linear-gradient(top, #eee, #ddd);
    background-image: linear-gradient(top, #eee, #ddd);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#eee,#ddd));
    border-color: #ddd #ddd #b7b7b7;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0, 0, 0, 0.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}
button.small, a.button.small, input[type=button].small, input[type=submit].small {
    font-size: 0.9em;
}
button.large, a.button.large, input[type=button].large, input[type=submit].large {
    padding: 0.7em 1.5em;
}
button.disabled, button[disabled], a.button.disabled, a.button[disabled], input[type=button].disabled, input[type=button][disabled], input[type=submit].disabled, input[type=submit][disabled] {
    cursor: default;
}
button:hover, a.button:hover, input[type=button]:hover, input[type=submit]:hover {
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background: #e6e6e6;
}
button.active, button:active, a.button.active, a.button:active, input[type=button].active, input[type=button]:active, input[type=submit].active, input[type=submit]:active {
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background: #e6e6e6;
}
button.disabled, button[disabled], a.button.disabled, a.button[disabled], input[type=button].disabled, input[type=button][disabled], input[type=submit].disabled, input[type=submit][disabled] {
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background: #e6e6e6;
    opacity: 0.65;
    filter: e(%("alpha(opacity=%d)", 65));
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
button.green, a.button.green, input[type=button].green, input[type=submit].green {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #b8d765;
    background-image: -moz-linear-gradient(top, #d1e990, #93bb25);
    background-image: -ms-linear-gradient(top, #d1e990, #93bb25);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d1e990), to(#93bb25));
    background-image: -webkit-linear-gradient(top, #d1e990, #93bb25);
    background-image: -o-linear-gradient(top, #d1e990, #93bb25);
    background-image: linear-gradient(top, #d1e990, #93bb25);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#d1e990,#93bb25));
    border-color: #93bb25 #93bb25 #607b18;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0, 0, 0, 0.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}
button.green:hover:not(.disabled), a.button.green:hover:not(.disabled), input[type=button].green:hover:not(.disabled), input[type=submit].green:hover:not(.disabled) {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #93bb25;
}
button.green.active:not(.disabled), button.green:active:not(.disabled), a.button.green.active:not(.disabled), a.button.green:active:not(.disabled), input[type=button].green.active:not(.disabled), input[type=button].green:active:not(.disabled), input[type=submit].green.active:not(.disabled), input[type=submit].green:active:not(.disabled) {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #aed83b;
}
button.darkgreen, a.button.darkgreen, input[type=button].darkgreen, input[type=submit].darkgreen {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #398739;
    background-image: -moz-linear-gradient(top, #348c34, #408140);
    background-image: -ms-linear-gradient(top, #348c34, #408140);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#348c34), to(#408140));
    background-image: -webkit-linear-gradient(top, #348c34, #408140);
    background-image: -o-linear-gradient(top, #348c34, #408140);
    background-image: linear-gradient(top, #348c34, #408140);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#348c34,#408140));
    border-color: #408140 #408140 #274e27;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0, 0, 0, 0.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}
button.darkgreen:hover:not(.disabled), a.button.darkgreen:hover:not(.disabled), input[type=button].darkgreen:hover:not(.disabled), input[type=submit].darkgreen:hover:not(.disabled) {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #408140;
}
button.darkgreen.active:not(.disabled), button.darkgreen:active:not(.disabled), a.button.darkgreen.active:not(.disabled), a.button.darkgreen:active:not(.disabled), input[type=button].darkgreen.active:not(.disabled), input[type=button].darkgreen:active:not(.disabled), input[type=submit].darkgreen.active:not(.disabled), input[type=submit].darkgreen:active:not(.disabled) {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #51a351;
}
button.orange, a.button.orange, input[type=button].orange, input[type=submit].orange {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #ffb52e;
    background-image: -moz-linear-gradient(top, #ffc04d, orange);
    background-image: -ms-linear-gradient(top, #ffc04d, orange);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffc04d), to(orange));
    background-image: -webkit-linear-gradient(top, #ffc04d, orange);
    background-image: -o-linear-gradient(top, #ffc04d, orange);
    background-image: linear-gradient(top, #ffc04d, orange);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#ffc04d,orange));
    border-color: orange orange #b37300;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0, 0, 0, 0.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}
button.orange:hover:not(.disabled), a.button.orange:hover:not(.disabled), input[type=button].orange:hover:not(.disabled), input[type=submit].orange:hover:not(.disabled) {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: orange;
}
button.orange.active:not(.disabled), button.orange:active:not(.disabled), a.button.orange.active:not(.disabled), a.button.orange:active:not(.disabled), input[type=button].orange.active:not(.disabled), input[type=button].orange:active:not(.disabled), input[type=submit].orange.active:not(.disabled), input[type=submit].orange:active:not(.disabled) {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #ffb733;
}
button.blue, a.button.blue, input[type=button].blue, input[type=submit].blue {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #49afcd;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(top, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#5bc0de,#2f96b4));
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0, 0, 0, 0.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}
button.blue:hover:not(.disabled), a.button.blue:hover:not(.disabled), input[type=button].blue:hover:not(.disabled), input[type=submit].blue:hover:not(.disabled) {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #2f96b4;
}
button.blue.active:not(.disabled), button.blue:active:not(.disabled), a.button.blue.active:not(.disabled), a.button.blue:active:not(.disabled), input[type=button].blue.active:not(.disabled), input[type=button].blue:active:not(.disabled), input[type=submit].blue.active:not(.disabled), input[type=submit].blue:active:not(.disabled) {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #47b0cf;
}
button.red, a.button.red, input[type=button].red, input[type=submit].red {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #da4f49;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(top, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#ee5f5b,#bd362f));
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0, 0, 0, 0.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}
button.red:hover:not(.disabled), a.button.red:hover:not(.disabled), input[type=button].red:hover:not(.disabled), input[type=submit].red:hover:not(.disabled) {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #bd362f;
}
button.red.active:not(.disabled), button.red:active:not(.disabled), a.button.red.active:not(.disabled), a.button.red:active:not(.disabled), input[type=button].red.active:not(.disabled), input[type=button].red:active:not(.disabled), input[type=submit].red.active:not(.disabled), input[type=submit].red:active:not(.disabled) {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #d3534c;
}
button.pink, a.button.pink, input[type=button].pink, input[type=submit].pink {
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background-color: #ffe6ea;
    background-image: -moz-linear-gradient(top, #ffffff, pink);
    background-image: -ms-linear-gradient(top, #ffffff, pink);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(pink));
    background-image: -webkit-linear-gradient(top, #ffffff, pink);
    background-image: -o-linear-gradient(top, #ffffff, pink);
    background-image: linear-gradient(top, #ffffff, pink);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#ffffff,pink));
    border-color: pink pink #ff738c;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0, 0, 0, 0.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}
button.pink:hover:not(.disabled), a.button.pink:hover:not(.disabled), input[type=button].pink:hover:not(.disabled), input[type=submit].pink:hover:not(.disabled) {
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background: pink;
}
button.pink.active:not(.disabled), button.pink:active:not(.disabled), a.button.pink.active:not(.disabled), a.button.pink:active:not(.disabled), input[type=button].pink.active:not(.disabled), input[type=button].pink:active:not(.disabled), input[type=submit].pink.active:not(.disabled), input[type=submit].pink:active:not(.disabled) {
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background: #fff3f5;
}
button.darkgray, a.button.darkgray, input[type=button].darkgray, input[type=submit].darkgray {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #8b8b8b;
    background-image: -moz-linear-gradient(top, #999, #777);
    background-image: -ms-linear-gradient(top, #999, #777);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#777));
    background-image: -webkit-linear-gradient(top, #999, #777);
    background-image: -o-linear-gradient(top, #999, #777);
    background-image: linear-gradient(top, #999, #777);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#999,#777));
    border-color: #777 #777 #515151;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0, 0, 0, 0.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}
button.darkgray:hover:not(.disabled), a.button.darkgray:hover:not(.disabled), input[type=button].darkgray:hover:not(.disabled), input[type=submit].darkgray:hover:not(.disabled) {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #777;
}
button.darkgray.active:not(.disabled), button.darkgray:active:not(.disabled), a.button.darkgray.active:not(.disabled), a.button.darkgray:active:not(.disabled), input[type=button].darkgray.active:not(.disabled), input[type=button].darkgray:active:not(.disabled), input[type=submit].darkgray.active:not(.disabled), input[type=submit].darkgray:active:not(.disabled) {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #919191;
}
button.lightgray, a.button.lightgray, input[type=button].lightgray, input[type=submit].lightgray {
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background-color: #e0e0e0;
    background-image: -moz-linear-gradient(top, #eee, #ccc);
    background-image: -ms-linear-gradient(top, #eee, #ccc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ccc));
    background-image: -webkit-linear-gradient(top, #eee, #ccc);
    background-image: -o-linear-gradient(top, #eee, #ccc);
    background-image: linear-gradient(top, #eee, #ccc);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#eee,#ccc));
    border-color: #ccc #ccc #a6a6a6;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0, 0, 0, 0.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}
button.lightgray:hover:not(.disabled), a.button.lightgray:hover:not(.disabled), input[type=button].lightgray:hover:not(.disabled), input[type=submit].lightgray:hover:not(.disabled) {
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background: #ccc;
}
button.lightgray.active:not(.disabled), button.lightgray:active:not(.disabled), a.button.lightgray.active:not(.disabled), a.button.lightgray:active:not(.disabled), input[type=button].lightgray.active:not(.disabled), input[type=button].lightgray:active:not(.disabled), input[type=submit].lightgray.active:not(.disabled), input[type=submit].lightgray:active:not(.disabled) {
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background: #e6e6e6;
}
.tabs {
    border: 1px solid #ddd;
    border-radius: 0.3em;
    background: white;
}
.tabs > ul {
    height: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ddd;
}
.tabs > ul li {
    margin: 0;
    padding: 0;
    height: 40px;
    display: inline-block;
    position: relative;
    top: 1px;
}
.tabs > ul li a {
    border: 0;
    height: 37px;
    line-height: 37px;
    text-decoration: none;
    padding: 0 1em;
    display: inline-block;
    outline: none;
    background: #efefef;
    border-top: 3px solid #efefef;
}
.tabs > ul li.active a {
    color: #333;
    background: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    border-top: 3px solid #000000;
}
.tabs > ul li.active:last-child {
    border-right: 1px solid #ddd;
}
.tabs > div {
    padding: 1em;
}
.tabs > div:after {
    content: "";
    clear: both;
    display: block;
}
body {
    background: #e2e2e2;
}
#page {
    width: 900px;
    margin: 0 auto;
    background: white;
    margin-top: 20px;
    -webkit-box-shadow: 0 0 10px #aaa;
    -moz-box-shadow: 0 0 10px #aaa;
    box-shadow: 0 0 10px #aaa;
}
#info {
    padding: 20px;
}
#info #site-title {
    margin-bottom: 0.2em;
}
#info #site-description {
    font-size: 12px;
    line-height: 12px;
    margin: 0;
}
#header img {
    display: block;
}
#menu {
    border: 1px solid #252525;
    background-color: #1b1b1b;
    border-radius: 4px;
    padding: 0 20px;
    border-radius: 0;
}
#menu > ul {
    margin: 0;
    padding: 0;
}
#menu > ul > li small {
    display: block;
    font-size: 0.85em;
}
#menu > ul > li {
    display: inline-block;
}
#menu > ul > li > a {
    font-size: 1.2em;
    display: inline-block;
    padding: 1.0em 1.5em;
    text-decoration: none;
    color: #999;
}
#menu > ul > li > a:hover {
    color: #fff;
}
#menu > ul > li.current-menu-item > a {
    background-color: #111;
    color: #fff;
}
#menu > ul ul {
    display: none;
}
#logged_info {
    padding: 5px 20px;
    background: #fafafa;
    text-align: right;
    box-shadow: 0 0 10px #ddd inset;
}
#content {
    padding: 20px;
    overflow: hidden;
}
#sidebar {
    width: 200px;
    float: left;
}
#main {
    margin-left: 210px;
}
#footer {
    background: #f9f9f9;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 20px;
}
#cart {
    float: right;
    text-align: right;
    padding: 20px;
    text-decoration: none;
}
#cart .title {
    display: block;
    font-size: 1.4em;
    border-bottom: 2px solid #eee;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
}
#cart .description {
    display: block;
}
div.category, div.product {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 160px;
    margin-bottom: 2em;
}
div.category img, div.product img {
    display: inline-block;
}
div.category .title, div.product .title {
    display: block;
}
div.product .price {
    display: inline-block;
    background: #cf9;
    padding: 5px;
    font-size: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    color: #333;
    margin-top: 5px;
    font-family: 'Cambria';
    position: relative;
    top: -5px;
}
div.product .special_price {
    display: inline-block;
    background: #cf9;
    padding: 5px;
    font-size: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    color: #333;
    margin-top: 5px;
    font-family: 'Cambria';
    position: relative;
    top: -5px;
    background: #700;
    color: white;
    font-weight: bold;
}
div.product .old_price {
    display: inline-block;
    background: #cf9;
    padding: 5px;
    font-size: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    color: #333;
    margin-top: 5px;
    font-family: 'Cambria';
    position: relative;
    top: -5px;
    text-decoration: line-through;
}
#sorting_form {
    margin-bottom: 2em;
}
#sorting_form span {
    margin-right: 1em;
}
#sorting_form label {
    margin-right: 0.5em;
}
#sorting_form select, #sorting_form label {
    width: auto;
    display: inline-block;
    outline: none;
}
#product-image {
    float: left;
}
#product-info {
    float: right;
    width: 250px;
}
#product-info table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 2em;
    border: 1px solid #ddd;
    border-collapse: separate;
    *border-collapse: collapsed;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#product-info table th, #product-info table td {
    padding: 8px;
    text-align: left;
    border-top: 1px solid #ddd;
}
#product-info table th {
    font-weight: bold;
    vertical-align: bottom;
}
#product-info table td {
    vertical-align: top;
}
#product-info table thead:first-child tr th, #product-info table thead:first-child tr td {
    border-top: 0;
}
#product-info table tbody + tbody {
    border-top: 2px solid #ddd;
}
#product-info table th + th, #product-info table td + td, #product-info table th + td, #product-info table td + th {
    border-left: 1px solid #ddd;
}
#product-info table thead:first-child tr:first-child th, #product-info table tbody:first-child tr:first-child th, #product-info table tbody:first-child tr:first-child td {
    border-top: 0;
}
#product-info table thead:first-child tr:first-child th:first-child, #product-info table tbody:first-child tr:first-child td:first-child {
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0;
}
#product-info table thead:first-child tr:first-child th:last-child, #product-info table tbody:first-child tr:first-child td:last-child {
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0;
}
#product-info table thead:last-child tr:last-child th:first-child, #product-info table tbody:last-child tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
}
#product-info table thead:last-child tr:last-child th:last-child, #product-info table tbody:last-child tr:last-child td:last-child {
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0;
}
#product-info table tbody tr:nth-child(odd) td, #product-info table tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}
#product-description {
    clear: left;
}
form#order {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #eee;
}
form#order input {
    width: auto;
    display: block;
}
#product-thumbs {
    list-style: none;
}
#product-thumbs li {
    display: inline-block;
    border: 2px solid transparent;
}
#product-thumbs li.current {
    border: 2px solid #aaa;
}
table.cart {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 2em;
}
table.cart th, table.cart td {
    padding: 8px;
    text-align: left;
    border-top: 1px solid #ddd;
}
table.cart th {
    font-weight: bold;
    vertical-align: bottom;
}
table.cart td {
    vertical-align: top;
}
table.cart thead:first-child tr th, table.cart thead:first-child tr td {
    border-top: 0;
}
table.cart tbody + tbody {
    border-top: 2px solid #ddd;
}
table.cart td {
    vertical-align: middle;
}
table.cart td.thumb {
    width: 100px;
}
table.cart td.thumb img {
    max-width: 75px;
    max-height: 75px;
}
table.cart td.qty {
    text-align: right;
}
table.cart td.qty > * {
    vertical-align: middle;
}
table.cart td.qty .remove {
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url(http://uxcandy.com/~boomyjee/bingo/template/themes/blank/assets/tea/../images/remove.png) no-repeat;
}
table.cart td.qty input {
    width: 30px;
    margin: 0;
}
table.cart .subtotal {
    text-align: right;
}
table.cart td.subtotal {
    font-size: 1.0em;
    color: #900;
    white-space: nowrap;
}
.order_form, .order_cart {
    float: left;
    width: 46%;
    margin-right: 4%;
}
.order_cart {
    margin: 0;
}
.order_form form {
    margin: 0;
}
button.order {
    display: inline-block;
    padding: 0.3em 0.7em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    white-space:nowrap;
    margin: 2px;
    width: auto;
    height: auto;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 0.3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background-color: #e7e7e7;
    background-image: -moz-linear-gradient(top, #eee, #ddd);
    background-image: -ms-linear-gradient(top, #eee, #ddd);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));
    background-image: -webkit-linear-gradient(top, #eee, #ddd);
    background-image: -o-linear-gradient(top, #eee, #ddd);
    background-image: linear-gradient(top, #eee, #ddd);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#eee,#ddd));
    border-color: #ddd #ddd #b7b7b7;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0, 0, 0, 0.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
    margin-top: 1em;
}
button.order.small {
    font-size: 0.9em;
}
button.order.large {
    padding: 0.7em 1.5em;
}
button.order.disabled, button.order[disabled] {
    cursor: default;
}
button.order:hover {
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background: #e6e6e6;
}
button.order.active, button.order:active {
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background: #e6e6e6;
}
button.order.disabled, button.order[disabled] {
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background: #e6e6e6;
    opacity: 0.65;
    filter: e(%("alpha(opacity=%d)", 65));
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
button.order {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #da4f49;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(top, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#ee5f5b,#bd362f));
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0, 0, 0, 0.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}
button.order:hover:not(.disabled) {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #bd362f;
}
button.order.active:not(.disabled), button.order:active:not(.disabled) {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #d3534c;
}
