fieldset.images fieldset {
    width:440px;
    height:125px;
    float:left;
    margin-right:5px;
    background:#fff;
    display: block;
}
fieldset.images a.array_element_add {
    display:block;
    clear:both;
}

.product-list {
    font-size: 14px;
}

.product-list .id {
    width: 50px;
}

.product-list .check,
.product-list .images
{
    width: 0;
}

.product-list .category {
    width: 200px;
}

.product-list .category select {
    width: 190px;
}

.product-list .price input {
    width: 50px;
}

.product-list .actions {
    width: 50px;
}

th.item_qty, th.item_special {
    width: 50px;
}

.order_items th:last-child {
    width: 80px;
}
